anyio 
argcomplete
argon2-cffi 
async-generator==1.10
attrs 
Babel 
backcall 
bleach
brotlipy==0.7.0
certifi==2021.5.30
cffi
charset-normalizer 
click==8.0.1
colorama 
cryptography
cycler==0.10.0
debugpy
decorator
defusedxml
entrypoints==0.3
Flask==2.0.1
gunicorn==20.1.0
idna
importlib-metadata 
ipykernel
ipython
ipython-genutils
itsdangerous==2.0.1
jedi
Jinja2
joblib==1.0.1
json5
jsonify==0.5
jsonschema 
jupyter-client
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server
kiwisolver==1.3.2
MarkupSafe
matplotlib==3.4.3
matplotlib-inline
mistune 
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio 
notebook
numpy==1.21.2
packaging
pandas==1.3.3
pandocfilters 
parso
pickleshare
Pillow==8.3.2
prometheus-client
prompt-toolkit
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent 
PySocks
python-dateutil 
pytz
pywinpty==0.5.7
pyzmq
requests
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
Send2Trash 
six 
sniffio
terminado==0.9.4
testpath
threadpoolctl==2.2.0
tornado 
traitlets
typing-extensions
urllib3 
wcwidth 
webencodings==0.5.1
Werkzeug==2.0.1
win-inet-pton 
wincertstore==0.2
zipp
